{% extends "security/base.html" %}
{% from "_macros.html" import render_field_with_errors, render_field %}

{% block security_card_title %}
<h2 class="card-title mb-4 text-center">Change password</h2>
<br>
{% endblock %}
{% block security_card %}
  <br>
  <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    {{ change_password_form.hidden_tag() }}

    {% if active_password %}
      <div class="row mx-2">
        {{ render_field_with_errors(change_password_form.password, class='form-control w-100', placeholder='Current password', autofocus=true) }}
      </div>
      <div class="row mx-2">
        {{ render_field_with_errors(change_password_form.new_password, class='form-control w-100', placeholder='New password') }}
      </div>
    {% else %}
      <div class="row mx-2">
        <p class="text-secondary">
          You do not currently have a password - this will add one.
          After this operation you will be able to log in with your email and the password you set below.
        </p>
      </div>
      <div class="row mx-2">
        {{ render_field_with_errors(change_password_form.new_password, class='form-control w-100', placeholder='New password', autofocus=true) }}
      </div>
    {% endif %}

    <div class="row mx-2">
      {{ render_field_with_errors(change_password_form.new_password_confirm, class='form-control w-100', placeholder='Retype password') }}
    </div>

    <br><br>
    <div class="row mx-2">
      {{ render_field(change_password_form.submit, class='btn btn-outline-dark w-100 mb-3') }}
    </div>
  </form>

{% endblock %}