{% extends 'base.jinja' %}
{% block head %}
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbox.css') }}">
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="row justify-content-center">Search for tickets</h1>
                    <form method="GET">
                        <div class="form-row">
                            <div>
                                <input type="text" class="form-control" id="user" name="user" placeholder="User">
                            </div>
                            <div>
                                <select class="form-control" id="status" name="status">
                                    <option value="">Select status</option>
                                    <option value="open">Open</option>
                                    <option value="closed">Closed</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ticket Contexts Table -->
<table class="table row justify-content-center">
    <thead>
        <tr>
            <th>User</th>
            <th>Status</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        {% for context in contexts %}
        <tr>
            <td>{{ context.user }}</td>
            <td>{{ context.status }}</td>
            <td>{{ context.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}