{% extends 'base.jinja' %}
{% from "_macros.html" import render_field_with_errors, render_form_errors %}
{% block head %}
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbox.css') }}">
{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12 col-sm-14">
      <h2 class="card-title mb-4 text-center">Report a problem</h2>
      <br>
        <div class=" bg-light">
          <div class="card-body">
              <form method="POST" action="{{ url_for('report.get_post') }}">
                {{ form.csrf_token }}
                {{ render_form_errors(form) }}

                {{ form.category.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.category, class="form-control") }}

                {{ form.description.label(class="mb-1 mt-3") }}:
                {{ form.description(class="form-control", placeholder="Enter some description for your problem", autofocus=true, rows=6) }}

                <div class="mb-3 text-center">
                <br>
                <br>
                  <button type="submit" class="btn btn-outline-dark w-100">Report</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="chatbox-wrapper">
      <div class="chatbox-toggle">
          <i class='bx bxs-message-alt-add'></i>
      </div>
      <div class="chatbox-message-wrapper">
          <div class="chatbox-message-header">
              <div class="chatbox-message-profile">
                  <img src="{{url_for('static', filename='images/openai-chatgpt-logo.png')}}" alt="" class="chatbox-message-image">
                  <div>
                      <h4 class="chatbox-message-name">Chatbot Assistant</h4>
                      <p class="chatbox-message-status">I am here to help!</p>
                  </div>
              </div>
          </div>
          <div class="chatbox-message-content">
              <h4 class="chatbox-message-no-message">Choose the device you want to report an issue with:</h4>
                <div id="button-container"></div>
              <!-- <div class="chatbox-message-item sent">
                  <span class="chatbox-message-item-text">
                      Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugiat?
                  </span>
                  <span class="chatbox-message-item-time">08:30</span>
              </div>
              <div class="chatbox-message-item received">
                  <span class="chatbox-message-item-text">
                      Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugiat?
                  </span>
                  <span class="chatbox-message-item-time">08:30</span>
              </div> -->
          </div>
          <div class="chatbox-message-bottom">
              <form action="#" class="chatbox-message-form">
                  <textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
                  <button type="submit" class="chatbox-message-submit"><i class='bx bx-send' ></i></button>
              </form>
          </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script> var logged_user = {{ logged_user }} </script>
<script src="{{url_for('static', filename='js/chatbox.js')}}"></script>
{% endblock %}